<h1>Current Batting WARs</h1>

<ul>
  <% @battingstats.each do |battingstat|  %>
  <li> <%= battingstat.war %></li>
  <li> <%= battingstat.team_batting %></li>
</ul>
<% end %>

<%= link_to "Pitching WARs", :root %>
